#Arriba {
    background-color: rgb(34, 134, 165);
    margin: 0;
}

#Logo {
    display: block;
    margin: 0 auto;
}

#Links {
    font-family:'Helvetica';
    color: rgb(15, 69, 85);  
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 150px;
}

#PP {
    color:rgb(177, 193, 207);
    text-decoration: none;
}

#SN {
    color:rgb(177, 193, 207);
    text-decoration: none;
}

#II {
    color:rgb(177, 193, 207);
    text-decoration: none;
}


#TítuloMain {
    font-family:'Helvetica';
    text-align: center;
    color: rgb(15, 69, 85);  
}

#PárrafoMain {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 26, 31);  ;
}

#TextoFooter {
    font-family:'Arial';
    text-align: center;
    color: rgb(99, 99, 99);  
}
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background-image: url("Imágenes/fondo.jpg");
}
.container {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    background-color:rgb(34, 134, 165);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #c5c5c5;
}
.contact-info {
    margin-top: 30px;
    font-size: 18px;
    line-height: 2;
}
.contact-info a {
    color: #c5c5c5;
    text-decoration: none;
}
.icon {
    margin-right: 8px;
}
@media (max-width: 600px) {
    .container {
        margin: 20px;
    }
}
